<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<!-- JQuery -->
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>

	<!-- Bootstrap + Additional Theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Custom JS -->
	<script type="text/javascript" src="/static/js/search.js"></script>

	<!-- D3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<style>
	    body {
	        padding: 0;
	        margin: 0;
	        background: whitesmoke;
	    }
	    h1, h2 {
	        font-family: "Proxima Nova", Montserrat, sans-serif;
	        font-size: 2em;
	        font-weight: 100;
	        color: #005DAA; /* offical UK Kentucky blue */
	    }
	    .county {
	      stroke: #fff;
	      fill:#005DAA;
	    }
	    .hover {
	        fill: yellow;   
	    }
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center">Library Search</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form id="search">
					<input class="form-control" type="text" name="query" placeholder="Type search term here..."></input>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul id="books">
				</ul>
			</div>
		</div>
    
		<script> 
		    var width = 900,
		        height = 600;

		    var dumbData = [0,1,2,3,4,5,6,7,8];
		    var data = {
		    	"cats": {
		    		"big": {
		    			"tiger": 12,
		    			"panther": 9
		    		},
		    		"medium": {
		    			"lynx": 8,
		    			"bobcat": 3,
		    			"dr. cat": {
		    				"good doctor": 1,
		    				"bad doctor": 10
		    			}
		    		},
		    		"small": {
		    			"normal cat": 20
		    		}
		    	},
		    	"dogs": {
		    		"big": {
		    			"great dane": 3,
		    			"floppy guy": 2
		    		},
		    		"medium": {
		    			"husky": 13
		    		},
		    		"small": {
		    			"chihuahua": 9,
		    			"young yappy": 14
		    		}
		    	},
		    	"plants": {
		    		"big": {
		    			"tree": 10
		    		},
		    		"medium": {
		    			"fern": 24
		    		},
		    		"small": {
		    			"plant": 8
		    		}
		    	},
		    }
		    
		    var svg = d3.select( "body" )
		          .append( "svg" )
		          .attr( "width", width )
		          .attr( "height", height );
		        
		    var highLevel = svg.append("g")

		    highLevel.selectAll('.forrest')
		        .data(Object.keys(data))
		        .enter().append("circle")
		        .attr( "cx", function(d, i) { return i * 40 })
		    	.attr( "cy", function(d) { return window.height/2 })
		        .attr( "r", function(d) { return 10 })
		        // .on("mouseover", function(d){
		        //     d3.select(this).attr("class","county hover");
		        // })
		        // .on("mouseout", function(d){
		        //     d3.select(this).attr("class","county");
		        // });
	 
		</script>
	</div>
</body>
</html>